footer.footer
  .row
    .col-sm-offset-4.col-sm-4.col-xs-12.last-xs.first-sm
      .footerSection
        .footerLogoContainer
          img.footerLogo(src="img/haLogo.svg")
          .textAndCopyright
            h3.footerLogoText Handshake Alliance
            p.footerCopyright &copy; Urkel, Inc
      .mediaLinks
        a(class="links" href="https://github.com/HandshakeAlliance" target="_blank")
          i(class="fab fa-github-alt")
        a(class="links" href="https://twitter.com/search?q=%40HNSalliance&src=typd" target="_blank")
          i(class="fab fa-twitter")
        a(class="links" href="https://medium.com/@handshakealliance" target="_blank")
          i(class="fab fa-medium-m")
