footer.footer
  .darkBackground
    h1.focusTitle.textBackground.partnersContainer Our Partners
  p.focusBody   
    .row.partnersSection
      .col-xs-6.col-sm-4
        .colWrapper
          a.companyLink(href="https://amentum.org/" target="_target" rel="noopener noreferrer")
            img#amentumLogo.grayscale(src="img/partnerAmentum.svg")
      .col-xs-6.col-sm-4
        .colWrapper
          a.companyLink(href="https://provide.services/" target="_blank" rel="noopener noreferrer")
            img#provideLogo.grayscale(src="img/partnerProvideDarkBlueBg.svg")
      .col-xs-6.col-sm-4.last-xs
        .colWrapper
          a.companyLink(href="https://urkel.io/" target="_blank" rel="noopener noreferrer")
            img#urkelLogo.grayscale(src="img/UrkelGlassesLogo.svg")
      .col-xs-6.col-sm-4
        .colWrapper
          //- a.companyLink(href="#" rel="noopener noreferrer")
          img#HNSimpleLogo.grayscale(src="img/partnerHNSimple.svg")
      .col-xs-6.col-sm-4
        .colWrapper
          a.companyLink(href="https://namebase.io/" target="_blank" rel="noopener noreferrer")
            img#namebaseLogo.grayscale(src="img/namebase.svg")
    .row
      .col-sm-offset-4.col-sm-4.col-xs-12.last-xs.first-sm
        .footerSection
          .footerLogoContainer
            img.footerLogo(src="img/logo.svg")
            .textAndCopyright
              h3.footerLogoText Handshake Alliance
        .mediaLinks
          a(class="links" href="https://github.com/HandshakeAlliance" target="_blank" rel="noopener noreferrer")
            i(class="fab fa-github-alt")
          a(class="links" href="https://twitter.com/HNSalliance" target="_blank" rel="noopener noreferrer")
            i(class="fab fa-twitter")
          a(class="links" href="https://medium.com/@handshakealliance" target="_blank" rel="noopener noreferrer")
            i(class="fab fa-medium-m")
