section.sectionHero
  .heroContainer
    include navbar.pug
    h3.catchPhrase Building the tools and infrastructure to launch the Handshake Network out of this world
  .missionSection
    .heroMarsContainer
      img.heroMars(src="img/mars.svg")
      img.heroMarsSlide(src="img/marsWithText.svg")
    .missionContainer
      .col-xs-10.col-sm-8.textLayering.missionContainerSlide
        .textBackground
          .focusTitle.missionTitle Our Mission
          p.missionBody Promote and support the adoption of Handshake by building the tools and infrastructure necessary for developers and other crypto ventures to take advantages of the many benefits of HNS’s underlying technology, to promote a free and more private web while pushing adoption forward.
