//- section.row.focusSection.mission


section.mainFocusSections
  section.row.focusSection
    .col-xs-10.col-sm-8.col-md-6.textLayering
      .textBackground
        h1.focusTitle Education
        p.focusBody We believe that in order to help bring Handshake to a larger audience, there must be a plethora of resources available. Through our initiatives such as the Handshake Alliance Academy, and hackathons, we hope to provide a considerable amount of those resources.
    .spacer
    .planetSection
      .planetContainer
        img.planet(src="img/bluePlanet.svg")
  section.row.focusSection
    .planetSection
      .planetContainer
        img.planet(src="img/mixedPlanet.svg" id="middle")
    .spacer
    .col-xs-10.col-sm-8.col-md-6.textLayering
      .textBackground
        h1.focusTitle Outreach
        p.focusBody Due to the current niche nature of Blockchain, many organizations or people who might benefit will not have discovered it yet. We are actively reaching out to those organizations and people who we believe will be most positively impacted by Handshake. We are building the tools and infrastructure that they need to join the ecosystem.
  section.row.focusSection
    .col-xs-10.col-sm-8.col-md-6.textLayering
      .textBackground
        h1.focusTitle Tooling
        p.focusBody We hope to provide an ecosystem that can not only support open source tooling for Handshake, but provide funding for future tools that need to be built. Similar to the Linux Foundation, we plan to provide an umbrella for some of the best tooling available for Handshake.
    .spacer
    .planetSection
      .planetContainer
        img.planet(src="img/saturn2.svg")
