doctype html
html
  head
    include includes/meta.pug
    title Handshake Alliance
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
    link(rel="stylesheet" href="css/main.css")
  body
    .overflowContainer
      include includes/hero.pug
      include includes/sections.pug
      //- Footer
      include includes/footer.pug
    script(src="scripts/main.min.js" async)
    script.
      var code = "UA-133243722-1";
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', code);
