/* ------ CUSTOM MEDIA QUERIES ------- */
@media screen and (min-width: 1200px) {
  .heroMarsSlide {
    height: 90vh;
  }

  .missionContainerSlide {
    top: 32%;
    left: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .heroMarsSlide {
    height: 84vh;
  }

  .missionContainerSlide {
    top: 30%;
    left: 100%;
  }
}

/* ---------- ANIMATION BEGIN ----------- */
@-webkit-keyframes slideLeft {
  from {
    left: calc(48% - 44vh);
  }

  to {
    left: calc(29% - 44vh);
  }
}
@keyframes slideLeft {
  from {
    left: calc(48% - 44vh);
  }

  to {
    left: calc(29% - 44vh);
  }
}

@-webkit-keyframes slideIn {
  100% {
    left: 52%;
  }
}

@keyframes slideIn {
  100% {
    left: 52%;
  }
}

.slideIn {
  -webkit-animation: slideIn 1s linear forwards;
          animation: slideIn 1s linear forwards;
}

.slideLeft {
  -webkit-animation: slideLeft 1s linear;
          animation: slideLeft 1s linear;
}

/* ---------- ANIMATION END ----------- */
/* ------ CONTENT STYLING BEGIN------- */
.heroContainer {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  @media (max-width: 1024px) {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catchPhrase {
  color: #fff;
  font-size: 34px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.2;
  margin-top: 40px;
  background-color: #1f2c37;

  @media (max-width: 1024px) {
    width: 60%;
    margin: 50px 0 75px 0;
    font-size: 1.5rem;
  }
}

.missionSection {
  position: relative;
  height: 120vh;

  @media (max-width: 1024px) {
    height: auto;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.missionContainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (max-width: 1024px) {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}

.heroMars {
  position: absolute;
  height: 100vh;
  top: 10%;
  left: calc(48% - 44vh);

  @media (max-width: 1024px) {
    position: static;
    height: 70vh;
  }
}

.heroMarsSlide {
  position: absolute;
  display: none;
  top: 10%;
  left: calc(29% - 44vh);
}

.missionContainerSlide {
  width: 42%;
  height: auto;
  position: absolute;

  @media (max-width: 1024px) {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
  }
}

.missionTitle {
  display: none;

  @media (max-width: 1024px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 1px;
  }
}

.missionBody {
  line-height: 1.75;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;

  @media (max-width: 1024px) {
    font-size: 16px;
    padding: 0 20px 20px 20px;
    width: 95%;
    margin-left: 2.5%;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

/* ------ CONTENT STYLING END------- */
