/* ------ CUSTOM MEDIA QUERIES ------- */
@media screen and (min-width: 1200px) {
  .heroMarsSlide { height: 90vh; }

  .missionContainerSlide {
    top: 32%;
    left: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .heroMarsSlide { height: 84vh; }

  .missionContainerSlide {
    top: 30%;
    left: 100%;
  }
}

/* ---------- ANIMATION BEGIN ----------- */
@-webkit-keyframes slideLeft {
  from { left: calc(48% - 44vh); }

  to { left: calc(29% - 44vh); }
}
@keyframes slideLeft {
  from { left: calc(48% - 44vh); }

  to { left: calc(29% - 44vh); }
}

@-webkit-keyframes slideIn {
  100% { left: 52%; }
}

@keyframes slideIn {
  100% { left: 52%; }
}

.slideIn { animation: slideIn 1s linear forwards; }

.slideLeft { animation: slideLeft 1s linear; }

/* ---------- ANIMATION END ----------- */
/* ------ CONTENT STYLING BEGIN------- */
.heroContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.catchPhrase {
  color: #fff;
  font-size: 34px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.2;
  margin-top: 40px;
  background-color: #1f2c37;

  @media (max-width: 1024px) {
    width: 60%;
    margin: 50px 0 75px 0;
    font-size: 1.15rem;
  }
}

.missionSection {
  position: relative;
  height: 120vh;

  @media (max-width: 1024px) {
    height: auto;
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.missionContainer {
  width: 90%;
  display: flex;

  @media (max-width: 1024px) {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}

.heroMars {
  position: absolute;
  height: 100vh;
  top: 10%;
  left: calc(48% - 44vh);

  @media (max-width: 1024px) {
    position: static;
    height: 60vh;
  }
}

.heroMarsSlide {
  position: absolute;
  display: none;
  top: 10%;
  left: calc(29% - 44vh);
}

.missionContainerSlide {
  width: 42%;
  height: auto;
  position: absolute;

  @media (max-width: 1024px) {
    position: static;
    display: flex;
    max-width: 85%;
  }
}

.missionTitle {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }
}

.missionBody {
  line-height: 1.75;
  text-align: center;
  letter-spacing: 1px;
}

/* ------ CONTENT STYLING END------- */
