@import "reset-css";

/* Grid System */
@import "flexboxgrid";

/* ----- Variables ----- */
@import "variables.css";

/* ----- Config ----- */
@import "config.css";

/* ----- Navbar ----- */
@import "navbar.css";

/* ----- Sections: Hero ----- */
@import "hero.css";

/* ----- Sections: Sections ----- */
@import "sections.css";

/* ----------- Footer ----------- */
@import "footer.css";

/* wrapper for hidden overflow */
.overflowContainer {
  width: 100%;
  overflow-x: hidden;
}

/* Move these to global */
.sectionTitle {
  padding: 20px;
  padding-top: 60px;
  font-size: 16pt;
  font-weight: normal;
  text-align: center;
}

.button {
  border-radius: 10px;
  width: 175px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  background-color: #693afa;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5630cd;
  }
}

.titleContainer {
  padding-top: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex-grow: 1;
}
