@import "reset-css";

/* Grid System */
@import "flexboxgrid";

/* ----- Variables ----- */
@import "variables.css";

/* ----- Config ----- */
@import "config.css";

/* ----- Navbar ----- */
@import "navbar.css";

/* ----- Sections: Hero ----- */
@import "hero.css";

/* ----- Sections: Sections ----- */
@import "sections.css";

/* ----------- Footer ----------- */
@import "footer.css";

/* wrapper for hidden overflow */
.overflowContainer {
  width: 100%;
  overflow-x: hidden;
}

/* Move these to global */
.sectionTitle {
  padding: 20px;
  padding-top: 60px;
  font-size: 16pt;
  font-weight: normal;
  text-align: center;
}

.button {
  border-radius: 10px;
  width: 175px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  background-color: #693afa;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5630cd;
  }
}

.titleContainer {
  padding-top: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex-grow: 1;
}

/* ========================== DEVELOPERS PAGE ============================== */
.developersSection {
  text-align: center;
}

.jumbotronHeader {
  font-size: 24px;
}

.jumbotronContainer {
  background-image: url(../lightshow.jpg);
  background-size: 70%;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  flex-direction: column;
  display: flex;
  padding: 128px 64px;
}

@media only screen and (max-width: 600px) {
  .jumbotronContainer {
    background-size: 100%;
  }
}

.resourceContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 24px 0 48px;
}

@media only screen and (max-width: 600px) {
  .resourceContainer {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 24px;
  }
}

.card {
  flex: 1;
  margin: 0 24px;
}

.cardTitle {
  font-weight: bold;
  margin: 8px 0;
}

.cardDescription {
  margin-bottom: 8px;
}

.resourceImg {
  margin-top: 72px;
  height: 48px;
  width: 48px;
}

.actionButton {
  border-radius: 34px;
  padding: 10px 14px;
  background-color: rgb(47, 80, 107);
  color: white;
  margin: 0 6px 3px;
}

/* ========================== FAQ PAGE ============================== */

.sectionFaq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  text-align: center;
}

.faqHeader {
  font-size: 20pt;
}

.faqSubtext {
  font-size: 10pt;
  margin-top: 12px;
}

.faqSearchContainer {
  overflow: hidden;
  flex-direction: row;
  margin-top: 12px;
  box-shadow: 0 4px 9px gray;
  border: 1px solid gray;
  border-radius: 12px;
  height: 28px;
  display: flex;
  overflow: hidden;
}

.faqSearch {
  flex: 2;
  width: inherit;
  border: none;
  height: inherit;
}

.faqSearchButton {
  float: right;
  height: 100%;
  width: auto;
  background-color: #6945f6;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 8px 24px;
}

.faqDetails {
  margin-top: 64px;
  flex-direction: row;
  display: flex;
}

.faqCompanyContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqDetailsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.faqLogoContainer {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background-color: black;
}

.faqItemBox {
  border: 1px solid gray;
  border-radius: 12px;
  box-shadow: 0px 4px 4px gray;
  display: flex;
  flex-direction: column;
  padding: 12px 30px;
  margin-top: 24px;
}

.faqItemTopic {
}

.faqItemDetail {
  margin-top: 12px;
  /* display: none; */
}
