.navBarContainer {
  height: $navbar-height;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navLogo {
  height: 40px;
  width: 40px;
  margin-left: 5%;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    height: 30px;
    width: 30px;
  }
}

.line {
  height: 22px;
  margin: 5px 0 0 10px;
  border-right: 1px solid #fff;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    height: 18px;
  }
}

.name {
  margin: 5px 0 0 10px;
  letter-spacing: .75px;
  color: #fff;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    margin-top: 7px;
    font-size: 14px !important;
  }
}
