html {
  background: #202020;
}

body {
  background: #202020;
  color: #f2f2f2;
  margin: 0;
  font-family: 'Anonymous Pro', 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
