html {
  background: #202020;
}

body {
  background: #202020;
  color: #f2f2f2;
  margin: 0;
  font-family: 'Anonymous Pro', 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.handshake {
  font-style: italic;
  border-bottom: 1px solid #693afa;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #a1a1a1;
  }
}

.toast-success {
  background: #23d160 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.toast-danger {
  background: #dc3545 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

.toast-warning {
  background: #ffc107 !important;
  color: #000 !important;
  border-radius: 5px !important;
}
